.messages-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-list-view,
.chat-conversation-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #f1f1f1;
}

.chat-conversation-view .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-conversation-view .messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

/* .sent {
  align-self: flex-end;
  background-color: #e0ffe0;
}

.received {
  align-self: flex-start;
  background-color: #f0f0f0;
} */

.sent {
  background-color: #007bff; /* Blue for user messages */
  align-self: flex-end; /* Align to the right */
  border-top-right-radius: 0; /* Remove the top right corner */
  margin-left: 27%;
}

/* Owner's message */
.received {
  background-color: #555; /* Dark gray for owner's messages */
  align-self: flex-start; /* Align to the left */
  border-top-left-radius: 0; /* Remove the top left corner */
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.send-button {
  padding: 10px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.back-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}

.back-buttons {
  background: none;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1%;
}

@media (max-width: 768px) {
  .chat-conversation-view {
    display: flex;
    flex-direction: column;
  }
}
